<template>
	<div id="content" style="height: 100%;">
		<el-container style="height: 100%; border: 1px solid #eee" v-loading.fullscreen.lock="loading">
			<!--功能菜单栏-->
			<el-aside style="width:50px;background: #3C3F41">
				<el-menu default-active="2" class="el-menu-vertical" :collapse="isCollapse" style="background: #3C3F41">
					<el-menu-item index="1" style="padding: 0 !important;text-align: center;font-size: 26px">
						<i class="fa fa-commenting" aria-hidden="true"></i>
					</el-menu-item>
					<el-menu-item index="2" style="padding: 0 !important;text-align: center;font-size: 26px">
						<i class="fa fa-user-circle-o" aria-hidden="true"></i>
					</el-menu-item>
				</el-menu>
			</el-aside>
			<!--通讯录-->
			<el-aside style="width:auto;height: 100%">

				<el-menu default-active="2"
				         class="el-menu-vertical"
				         :collapse="isCollapse"
				         @select="listSelect"
				         style="height: 100%">
					<el-submenu index="2">
						<template slot="title">
							<i class="el-icon-share"></i>
							<span slot="title">群组</span>
						</template>
						<el-menu-item index="1-1">群组1</el-menu-item>
						<el-menu-item index="1-2">群组2</el-menu-item>
					</el-submenu>

					<el-submenu index="1">
						<template slot="title">
							<i class="el-icon-menu"></i>
							<span slot="title">好友</span>
						</template>
						<el-menu-item :index="index" v-for="(friend,index) in friends">
							<el-image
									style="width: 40px; height: 40px"
									:src="friend.avatar"
									fit="cover">
								<div slot="error" class="image-slot">
									<i class="el-icon-picture-outline"></i>
								</div>
							</el-image>
							<span class="remark-name">
								{{friend.remarkName}}
							</span>
						</el-menu-item>
					</el-submenu>
				</el-menu>
			</el-aside>
			<el-container>
				<chatbox v-for="(chatboxData,i) in chatboxDatas"
				         @onSend="sendMsg"
				         :type="chatboxData.type"
				         :fromUser="chatboxData.fromUser"
				         :toUser="chatboxData.toUser"
				         :toUsername="chatboxData.toUsername"
				         :chatboxId="chatboxData.id"
				         :messageList="chatboxData.messageList"
				></chatbox>
			</el-container>
		</el-container>
	</div>
</template>
<style>
	.el-header {
		background-color: #B3C0D1;
		color: #333;
		line-height: 60px;
	}

	.btn-send {
		margin-top: 16px;
	}

	.el-menu-vertical:not(.el-menu--collapse) {
		width: auto;
		min-height: 600px;
	}
</style>
